<form  class="form" [formGroup]="myForm">
    <h1>FormBuilder</h1>
    <div>
        <label>Employee Name:</label>
        <input type="text" id="en" placeholder="Employee Name" >
    </div>
    <br>
    <div>
       <label>DOB</label>
       <input type="date" id="d" placeholder="Enter DOB" >
    </div>
    <br>
    <div>
        <label>Email:</label>
        <input type="text" id="e" placeholder="Enter Email" >
    </div>
    <br>
    <div>
        <label>Mobile</label>
        <input type="number" id="m" placeholder="Enter Mobile" >
    </div>
    <br>
    <div>
        <label>Gender</label>
        <input type="radio" name="gender"  value="male">Male
        <input type="radio" name="gender"  value="female">Female
        <input type="radio" name="gender"  value="others" >Other
    </div>
    <br>
    <div>
        <label>Country</label>
        <select  > 
            <option value="">--Select--</option>
            <option >India</option>
            <option >America</option>
            <option >England</option>
        </select>
    </div>
    <br>
    <button (click)="Done()">Done</button>
</form>